ul li {
  display: flex;
}
 
ul li button {
  margin: 0 3em;
  border-style: outset;
}
 
p {
  margin: 0px;
  padding: 0px;
} 

.active {
  text-decoration: line-through;
}

.non-active {
  text-decoration: none;
}
 
.invisibilityCloak {
  display: none;
}
 